# Libraries directory
libraries

# Temporary files from Draw.io
*.drawio.dtmp
*.drawio.bkp
*.drawio~*

# Temporary files from MS Office
~$*
*.tmp
*.lock

# Build output directory
build-output

# VSCode configuration folder
.vscode

# Cppcheck build directory
check-cppcheck-build-dir

# Local configuration file for DPVController
DPVController/localConfig.h

# PlatformIO directories
.pio/
.pioenvs/
.piolibdeps/
